.product {
  display: flex;
  gap: 20px;
  align-items: center;
}

.product__id {
  @include text;
  width: 10%;
}

.product__name {
  @include text;
  width: 10%;
  flex-grow: 1;

}

.product__price {
  @include text;
  width: 10%;

  &--crossed {
    text-align: end;
    text-decoration: line-through;
  }
}

.product__delete-button {
  @include button;
}